* {
    --vxo-s0: 1px;
    --vxo-s1: 2px;
    --vxo-s2: 4px;
    --vxo-s3: 8px;
    --vxo-s4: 16px;
    --vxo-s5: 32px;
    --vxo-s6: 64px;
    --vxo-s7: 128px;
    --vxo-s8: 256px;

    --vxo-cd-link: 0,136,255; /* #08F */
}

